In [1]:
from sklearn import svm, metrics
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# 모델 라이브러리 선언
from sklearn import datasets, tree

# 모델 정확도 라이브러리 선언
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

In [2]:
np.random.seed(42)
#랜덤값을 42번째의 값을 고정시켜주는것

## 1. 데이터 불러오기

In [3]:
csData = pd.read_csv("../lee/Python_ST_EX/dataset/customer.csv")
csData.head()

      deposit     stock    label
0  1400000000  45000000   normal
1  1450000000  72000000  diamond
2  1500000000  61000000  diamond
3  1370000000  56000000   normal
4  1920000000  48000000  diamond

## 2. 데이터 분리

In [4]:
# feature, label 컬럼 설정

featureCol = ["deposit", "stock"]
labelCol = ["label"]

In [5]:
# feature 데이터, label 데이터 분리

featuresData = csData[featureCol]
labelData = csData[labelCol]

In [6]:
# train_test_split 함수를 활용해 feature / label 데이터 자동 분리 7:3

feature_train, feature_test, label_train, label_test = \
train_test_split(featuresData, labelData, test_size = 0.3)

In [7]:
len(csData)

20000

In [8]:
len(feature_train) #학습할 특성

14000

In [9]:
len(feature_test) #학습할 답지

6000

In [10]:
len(label_train) #검증할 특성

14000

In [11]:
len(label_test) #검증할 답지

6000

## 3. 모델선언 및 학습

In [12]:
# Define Model
model = svm.SVC()

In [13]:
# Learning (Feature & Label)
model.fit(feature_train, label_train)

C:\Users\SMART-09\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

## 4. 예측

In [14]:
## 테스트데이터 Feature만 가지고 예측하기
predict = model.predict(feature_test)
predict

array(['normal', 'diamond', 'diamond', ..., 'normal', 'diamond',
       'diamond'], dtype=object)

## 5. 데이터 정리

In [15]:
### 데이터프레임으로 변환
predictData = pd.DataFrame(predict)
predictData.columns = ["predict"]

In [16]:
resultData = pd.concat([featuresData, labelData,predictData], axis=1)
resultData.head()

      deposit     stock    label  predict
0  1400000000  45000000   normal   normal
1  1450000000  72000000  diamond  diamond
2  1500000000  61000000  diamond  diamond
3  1370000000  56000000   normal   normal
4  1920000000  48000000  diamond  diamond

## 6. 결과 검증

In [17]:
# 결과 테스트하기
ac_score = accuracy_score(label_test, predict)
cl_report = classification_report(label_test, predict)

## 결과 리포트하기
print("Accuracy =", ac_score)
print("result =\n", cl_report)

Accuracy = 0.9906666666666667
result =
              precision    recall  f1-score   support

    diamond       0.98      1.00      0.99      3580
     normal       1.00      0.98      0.99      1705
        vip       1.00      0.97      0.99       715

avg / total       0.99      0.99      0.99      6000