### 1. 데이터 불러오기

In [3]:
import pandas as pd

In [4]:
customerData=pd.read_csv("./Python_ST_EX/dataset/customerdata.csv")

In [5]:
customerData.head(9)

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE            CUSTTO
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog
5  B16849  3755.263391    2          4.7    2.786665      Sleeping-dog
6  B18816  3213.911446    2          6.4    0.900000        Early-bird
7  C10639  3516.500000    2          5.2    2.564830  Big-Screen-lover
8  C12717  3732.900000    2          5.7    2.069995  Big-Screen-lover

In [8]:
customerData.columns = ['CUSTID','AVGPRICE','EMI','DEVICECOUNT','PRODUCTAGE','CUST']

In [10]:
customerData.to_csv("../lee/Python_ST_EX/dataset/customerData2.csv", index = False)

In [11]:
customerData2=pd.read_csv("../lee/Python_ST_EX/dataset/customerData2.csv")

In [12]:
customerData2.head()

   CUSTID     AVGPRICE  EMI  DEVICECOUNT  PRODUCTAGE              CUST
0  A13566  4273.900000    3          6.4    1.679181  Big-Screen-lover
1  A14219  3642.441950    2          4.0    2.682023      Sleeping-dog
2  A15312  3653.884565    2          5.0    3.208202      Sleeping-dog
3  A16605  3713.211107    2          6.6    0.900000        Early-bird
4  B10634  3391.074215    2          4.2    2.453656      Sleeping-dog

### 2. 한글안깨지도록

In [18]:
customerData3=pd.read_csv("../lee/Python_ST_EX/dataset/kopo_region_mst_hangul.csv",encoding = "ms949")

# encoding = "ms949" 한글깨질시에

customerData3.head()

  REGIONID REGIONNAME
0      A00       아프리카
1      A01         미국
2      A02         한국
3      A03         독일
4      A04        브라질

### 3. 코드 실행시간 계산

In [31]:

import timeit
import pandas as pd

start = timeit.default_timer()

# 나의코드 # 나의코드 # 나의코드 # 나의코드 # 나의코드 # 나의코드 # 나의코드 # 나의코드 # 나의코드 # 나의코드

qtyList = pd.read_csv\
("../lee/Python_ST_EX/dataset/kopo_channel_seasonality_new.csv")["QTY"].tolist()

Max = max(qtyList)
Min = min(qtyList)

qtyList.remove(Max)
qtyList.remove(Min)

average = sum(qtyList)/len(qtyList) # len은 요소의 개수를 세는 함수

print(average)

# 나의코드 # 나의코드 # 나의코드 # 나의코드 # 나의코드 # 나의코드 # 나의코드 # 나의코드 # 나의코드 # 나의코드

stop = timeit.default_timer()
print('Time: ', stop - start)

8936.090755278527
Time:  0.07570378290188273

In [25]:
import pandas as pd

qtyList = pd.read_csv\
("../lee/Python_ST_EX/dataset/kopo_channel_seasonality_new.csv")["QTY"].tolist()

Max = max(qtyList)
Min = min(qtyList)

qtyList.remove(Max)
qtyList.remove(Min)

average = sum(qtyList)/len(qtyList) # len은 요소의 개수를 세는 함수

print(average)

8936.090755278527