### 1. mysql(mariaDB) 연결

In [1]:
#cmd키고 pip install pymysql 설치하기

In [2]:
# PANDAS 패키지 불러오기 (mysql 불러올때)
import pandas as pd
import pymysql
from sqlalchemy import create_engine

# DB 커넥션 열기
engine = create_engine('mysql+pymysql://kopo:kopo@192.168.110.111:3306/kopo')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
selloutData = pd.read_sql_query('SELECT * FROM mysql_yoorim', engine)
selloutData

# # 컬럼헤더 재정의
# selloutData.columns = ['종선','수찬','ㅇㄹ','ㅎㅅ']

# # 데이터 저장
# resultname='mysql_hs'
# selloutData.to_sql (resultname, engine, if_exists='replace', index= False)

      종선      수찬      형섭      유림
0    A01  ST0002  201512  151750
1    A01  ST0001  201520  645626
2    A01  ST0002  201520  125863
3    A01  ST0001  201515  810144
4    A01  ST0002  201515  128999
5    A01  ST0001  201518  671464
6    A01  ST0002  201518  134467
7    A01  ST0001  201513  470040
8    A01  ST0002  201513  140297
9    A01  ST0001  201511  524787
10   A01  ST0002  201511  145509
11   A01  ST0001  201516  764927
12   A01  ST0002  201516  140313
13   A01  ST0001  201519  682757
14   A01  ST0002  201519  128668
15   A01  ST0001  201514  428195
16   A01  ST0002  201514  137488
17   A01  ST0001  201512  486509
18   A01  ST0001  201517  697502
19   A01  ST0002  201517  127163
20   A01  ST0001  201507  620392
21   A01  ST0002  201507  146476
22   A01  ST0001  201510  511679
23   A01  ST0002  201510  153152
24   A01  ST0001  201502  438251
25   A01  ST0002  201502  123875
26   A01  ST0001  201505  482381
27   A01  ST0002  201505  180516
28   A01  ST0001  201508  571781
29   A01  ST0002  201508  156772
..   ...     ...     ...     ...
293  A01  ST0002  201725       0
294  A01  ST0002  201726       0
295  A01  ST0002  201727       0
296  A01  ST0002  201728       0
297  A01  ST0002  201729       0
298  A01  ST0002  201730       0
299  A01  ST0002  201731       0
300  A01  ST0002  201732       0
301  A01  ST0002  201733       0
302  A01  ST0002  201734       0
303  A01  ST0002  201735       0
304  A01  ST0002  201736       0
305  A01  ST0002  201737       0
306  A01  ST0002  201738       0
307  A01  ST0002  201739       0
308  A01  ST0002  201740       0
309  A01  ST0002  201741       0
310  A01  ST0002  201742       0
311  A01  ST0002  201743       0
312  A01  ST0002  201744       0
313  A01  ST0002  201745       0
314  A01  ST0002  201746       0
315  A01  ST0002  201747       0
316  A01  ST0002  201748       0
317  A01  ST0002  201749       0
318  A01  ST0002  201750       0
319  A01  ST0002  201751       0
320  A01  ST0002  201752       0
321  A01  ST0001  201701       0
322  A01  ST0001  201702       0

[323 rows x 4 columns]

In [3]:
# PANDAS 패키지 불러오기
import pandas as pd
import pymysql
from sqlalchemy import create_engine

# DB 커넥션 열기
engine = create_engine('mysql+pymysql://root:root@192.168.110.9:3306/형섭1') #나의 마리아db(heidisql)

# engine = create_engine('mysql+pymysql://아이디:비밀번호@ip:포트번호/DB이름')

# DB 테이블을 읽어 Data Frame 변수에 저장하기
selloutData = pd.read_sql_query('SELECT * FROM 형섭1info', engine)
selloutData

# 컬럼헤더 재정의
#selloutData.columns =['~','~','~']

# 데이터 저장
resultname='mysql_hs'
selloutData.to_sql (resultname, engine, if_exists='replace', index= False)

### 2. 오라클(toad) 연결

In [4]:
#cmd키고 pip install cx_Oracle 설치하기

In [5]:
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('oracle+cx_oracle://system:manager@192.168.110.9:1522/xe') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine) 
selloutData
# # 컬럼해더 재정의
# selloutData.columns = ['REGIONID','PRODUCTGROUP','YEARWEEK','VOLUME']

# # 데이터 VIEW
# print(selloutData.head())

# # 데이터 저장
# resultname='oracleresult'
# selloutData.to_sql(resultname, engine, if_exists='replace', index=False)

    regionid productgroup yearweek   volume
0        A01       ST0002   201512   151750
1        A01       ST0001   201520   645626
2        A01       ST0002   201520   125863
3        A01       ST0001   201515   810144
4        A01       ST0002   201515   128999
5        A01       ST0001   201518   671464
6        A01       ST0002   201518   134467
7        A01       ST0001   201513   470040
8        A01       ST0002   201513   140297
9        A01       ST0001   201511   524787
10       A01       ST0002   201511   145509
11       A01       ST0001   201516   764927
12       A01       ST0002   201516   140313
13       A01       ST0001   201519   682757
14       A01       ST0002   201519   128668
15       A01       ST0001   201514   428195
16       A01       ST0002   201514   137488
17       A01       ST0001   201512   486509
18       A01       ST0001   201517   697502
19       A01       ST0002   201517   127163
20       A01       ST0001   201507   620392
21       A01       ST0002   201507   146476
22       A01       ST0001   201510   511679
23       A01       ST0002   201510   153152
24       A01       ST0001   201502   438251
25       A01       ST0002   201502   123875
26       A01       ST0001   201505   482381
27       A01       ST0002   201505   180516
28       A01       ST0001   201508   571781
29       A01       ST0002   201508   156772
..       ...          ...      ...      ...
180      A01       ST0001   201635   732598
181      A01       ST0002   201635   229962
182      A01       ST0001   201633   748038
183      A01       ST0002   201633   201557
184      A01       ST0001   201631   832400
185      A01       ST0002   201631   179630
186      A01       ST0001   201629   809554
187      A01       ST0002   201629   163171
188      A01       ST0001   201627   798282
189      A01       ST0002   201627   188335
190      A01       ST0001   201634   711380
191      A01       ST0002   201634   181811
192      A01       ST0001   201632   774620
193      A01       ST0002   201632   215174
194      A01       ST0001   201648   873341
195      A01       ST0002   201648   711806
196      A01       ST0001   201646   630040
197      A01       ST0002   201646   441993
198      A01       ST0001   201651  1175605
199      A01       ST0002   201651   401602
200      A01       ST0001   201649   749699
201      A01       ST0002   201649   278487
202      A01       ST0001   201647  1037853
203      A01       ST0002   201647  1663206
204      A01       ST0001   201645   585098
205      A01       ST0002   201645   192137
206      A01       ST0001   201652   813749
207      A01       ST0002   201652   208186
208      A01       ST0001   201650   786380
209      A01       ST0002   201650   320253

[210 rows x 4 columns]

### 3. Postgres 연결

In [6]:
#cmd키고 pip install psycopg2 설치하기

In [7]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('postgresql://kopo:kopo@192.168.110.111:5432/kopo') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine) 

selloutData.head()

  regionid productgroup yearweek  volume
0      A01       ST0002   201512  151750
1      A01       ST0002   201520  125863
2      A01       ST0002   201515  128999
3      A01       ST0002   201518  134467
4      A01       ST0002   201513  140297

### 4. 실습(MySQL DB에 접속하여 조회 후 컬럼이름 변경)

In [8]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine 
 
# DB 커넥션 열기
engine = create_engine('postgresql://kopo:kopo@192.168.110.111:5432/kopo') 

# DB 테이블을 읽어 Data Frame 변수에 저장하기
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine) 

selloutData.head()

# 데이터 저장
resultname='seobb'
selloutData.to_sql(resultname, engine, if_exists='replace', index=False)

### 5. 파이썬 - 문법 & 데이터 불러오기 퀴즈

In [9]:
import pandas as pd
import psycopg2
import pymysql
from sqlalchemy import create_engine

engine = create_engine('mysql+pymysql://kopo:kopo@13.209.112.251:3306/kopo')

selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine)

selloutData.columns =['AA','BB','CC','DD']

engine_postgres = create_engine('postgresql://kopo:kopo@192.168.110.111:5432/kopo')

resultname='kopo_product_volume_이형섭'
selloutData.to_sql (resultname, engine, if_exists='replace', index= False)

In [10]:
selloutData

      AA      BB      CC         DD
0    A01  ST0002  201512   151750.0
1    A01  ST0001  201520   645626.0
2    A01  ST0002  201520   125863.0
3    A01  ST0001  201515   810144.0
4    A01  ST0002  201515   128999.0
5    A01  ST0001  201518   671464.0
6    A01  ST0002  201518   134467.0
7    A01  ST0001  201513   470040.0
8    A01  ST0002  201513   140297.0
9    A01  ST0001  201511   524787.0
10   A01  ST0002  201511   145509.0
11   A01  ST0001  201516   764927.0
12   A01  ST0002  201516   140313.0
13   A01  ST0001  201519   682757.0
14   A01  ST0002  201519   128668.0
15   A01  ST0001  201514   428195.0
16   A01  ST0002  201514   137488.0
17   A01  ST0001  201512   486509.0
18   A01  ST0001  201517   697502.0
19   A01  ST0002  201517   127163.0
20   A01  ST0001  201507   620392.0
21   A01  ST0002  201507   146476.0
22   A01  ST0001  201510   511679.0
23   A01  ST0002  201510   153152.0
24   A01  ST0001  201502   438251.0
25   A01  ST0002  201502   123875.0
26   A01  ST0001  201505   482381.0
27   A01  ST0002  201505   180516.0
28   A01  ST0001  201508   571781.0
29   A01  ST0002  201508   156772.0
..   ...     ...     ...        ...
180  A01  ST0001  201635   732598.0
181  A01  ST0002  201635   229962.0
182  A01  ST0001  201633   748038.0
183  A01  ST0002  201633   201557.0
184  A01  ST0001  201631   832400.0
185  A01  ST0002  201631   179630.0
186  A01  ST0001  201629   809554.0
187  A01  ST0002  201629   163171.0
188  A01  ST0001  201627   798282.0
189  A01  ST0002  201627   188335.0
190  A01  ST0001  201634   711380.0
191  A01  ST0002  201634   181811.0
192  A01  ST0001  201632   774620.0
193  A01  ST0002  201632   215174.0
194  A01  ST0001  201648   873341.0
195  A01  ST0002  201648   711806.0
196  A01  ST0001  201646   630040.0
197  A01  ST0002  201646   441993.0
198  A01  ST0001  201651  1175605.0
199  A01  ST0002  201651   401602.0
200  A01  ST0001  201649   749699.0
201  A01  ST0002  201649   278487.0
202  A01  ST0001  201647  1037853.0
203  A01  ST0002  201647  1663206.0
204  A01  ST0001  201645   585098.0
205  A01  ST0002  201645   192137.0
206  A01  ST0001  201652   813749.0
207  A01  ST0002  201652   208186.0
208  A01  ST0001  201650   786380.0
209  A01  ST0002  201650   320253.0

[210 rows x 4 columns]

### 파이썬 퀴즈

In [4]:
# PANDAS 패키지 불러오기 (mysql 불러올때)
import pandas as pd
import pymysql
from sqlalchemy import create_engine

# DB 커넥션 열기
engine = create_engine('mysql+pymysql://kopo:kopo@13.209.112.251:3306/kopo')
selloutData = pd.read_sql_query('SELECT * FROM kopo_product_volume', engine)

engine_postgres = create_engine('postgresql://haiteam:haiteam@13.209.112.251:5432/postgres')

resultname='quiz_이형섭'
selloutData.to_sql (resultname, engine_postgres, if_exists='replace', index= False)